$colors: (
  primary: (
    brightorange: hsl(31, 77%, 52%),
    darkcyan: hsl(184, 100%, 22%),
    darkercyan: hsl(179, 100%, 13%),
  ),
  neutral: (
    white: hsla(0, 0%, 100%),
    white-alpha75: hsla(0, 0%, 100%, 0.75),
    lightgray: hsl(0, 0%, 95%),
  ),
);
